.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    
  
    
	
}
.dialogsItems {
    padding: 10px;
    text-decoration: none;
}
.dialogsItems .active {
    color: rgb(12, 207, 159);
    
}


